@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
 
:root{
    --bg_color: #FFFFFF;  /* couleur de fond */
    --box_color: #D9D9D9;  /* couleur de fond des boîtes */
    --booki_blue: #0065FC;  /* bleu principal */
    --hover_blue: #DEEBFF;  /* bleu HOVER */
    --booki_radius : 20px;    /* Angle des boîtes */
    --shadow_hover : 5px 5px 30px rgb(88, 83, 83);  /* Ombre des boîtes */
}


            /*      COMMUN
                                */

*{
     box-sizing: border-box;    
     
}
                          
body{
    max-width: 1440px;
    height: 100%;
    margin: 0;
    padding: 30px;
    background-color: var(--bg_color);
    font-family: 'Raleway', sans-serif; 
}
body a{ 
    text-decoration: none;
    color: black;
}
body li{
    list-style-type: none;
}
body h1, h2{ 
    font-size: 22px;
}
body h3{ 
    font-size: 16px;
}
body p{
    font-size: 15px;
}

.container{
    display: flex;
    flex-direction: row;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo{
    object-fit: cover;
    object-position: center;
}

.blue_star{
    color:var(--booki_blue);
    font-size: 0.9em;
}
.grey_star{
    color:var(--box_color);
    font-size: 0.9em;
}

.heber_box:hover, .pop_box:hover, .acti_box:hover{
    box-shadow: var(--shadow_hover)
}

            /*      HEADER
                                */

#booki_Cont{
    align-items: center;
    margin-bottom: 50px;
}

nav{
    margin-left: auto;
}

#i_booki{
    position: relative;
    top: -4px;
    left: 43px;
}

#booki_Cont li{
    margin-left: 50px;
}
 
#booki_Cont a:hover{
    border-top: 3px solid var(--booki_blue);
    padding-top: 44px;
}


        /* FORM
                                */ 

 
#search_Cont{
    height: 60px;
    margin: 40px 0px 48px 0px;
}

#cursor_box{
    min-width: 60px;
    height: 100%;
    justify-content: center;
    background-color: var(--box_color);
    border-radius: 15px 0px 0px 15px;
}

.cursor{
    font-size: 1.5em;
}

#search_input{
    height: 100%;
    width: 250px;
    border: none;
    border: 1px solid var(--box_color);
    font-size: 18px;
    padding-left: 15px;
}

#search_button{
    height: 100%;
    min-width: 155px;
    background-color: var(--booki_blue);
    border-radius: 0px 15px 15px 0px;
    color: var(--bg_color);
    font-size: 1.1em;
    font-weight: bold;
    border: none;
}

#loupe{
    color: var(--bg_color);
    font-size: 1.3em;
    display: none;
}


  /*_________FITLRES__________*/


#filtre_Cont{
    align-items: center;
}

#filtre_box{
    justify-content: space-around;
    width: 70%;
}
 
.button_filtre{
    height: 55px; 
    padding: 0px 20px;
    border-radius: 25px;
    background-color: var(--bg_color);
    border: 2px solid var(--box_color);
    margin-left: 2px;
    font-weight: bold;
    font-size: 16px;
}
.button_filtre:hover{
    background-color: var(--hover_blue);
    cursor: pointer;
}

.icon_button{
    color: var(--booki_blue);
    font-size: 1.4em;
    margin-right: 20px;
}

#info_box{
    margin: 30px 0px 20px 0px;
}

#icon_info{
    color: var(--booki_blue);
    border: 1px solid grey;
    padding: 6px 11px 8px 11px;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 0.9em;
}
 
            /*      SECTION
                                */


#section1_Cont{
    justify-content: space-between;
}

  /*_________HÉBERGEMENT__________*/


#heber_Cont{
    flex-direction: column;
    background-color:var(--box_color);
    border-radius: var(--booki_radius);
    width: 67%;
    margin-right: 7px;
    padding-bottom: 20px;    
}
 
#heber_Cont > h2 {
    margin-left: 40px;  
    padding-top: 22px;
    margin-bottom: 15px;
}

#heber_Cont > h3{
    margin-left: 40px;  
}

.heber_total_box{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
 
.heber_box{
    display: block;
    background-color: var(--bg_color);
    width: 255px;
    height: 240px;
    border-radius:  var(--booki_radius);
    margin: 25px 2px;
    line-height: 15px;
}

.heber_photo{
    height: 52%;
    width: 100%;
    border-radius:  var(--booki_radius)  var(--booki_radius) 0px 0px;
    padding: 7px;
}

.heber_photo:hover{
    padding: 0;
    margin-bottom: 5px;
}

.heber_text{
    margin-left: 15px;
}

.heber_text p{
    font-size: 14px;
}

  /*_________POPULARITÉ__________*/
 
#aside_Cont{
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 21px;
    min-width: 375px;
    background-color: var(--box_color);
    border-radius: var(--booki_radius);
}

.pop_logo{
    justify-content: space-around;
    padding-top: 25px;
    width: 100%;
}

.pop_button{
    color: var(--booki_blue);
    font-size: 1.4em;
}

#pop_Cont{
    flex-direction: column;
    gap : 40px;
    width: 430px;
}
 
.pop_box{
    background-color: var(--bg_color);
    height: 170px;
    width: 350px;
    border-radius: var(--booki_radius);
    margin: 0px 5px;
}
/*.pop_box a{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
}*/
.pop_photo{
    height: 170px;
    width: 150px;
    border-radius: var(--booki_radius) 0px 0px var(--booki_radius);
    padding: 7px;
    margin-right: 10px;
    margin-top: 2px;
}
.pop_photo:hover{
    padding: 0;
    margin-right: 15px;
    margin-top: 4px;
}

.pop_text{
    flex-direction: column;
    align-items: flex-start;
    height: 170px;
    width: 190px;
    padding: 15px 0px;
}
.pop_text h3{
    margin:0;
}
.pop_text p{
    font-size: 14px;
}

.pop_star{
    margin-top: auto;
}

 /*_________ACTIVITÉS__________*/

 #section2_Cont{    
    flex-direction: column;
    padding-bottom: 45px;
}
#section2_Cont > h2{
    padding: 30px 0px;
}

#acti_Cont{
    justify-content: space-between; 
}

.acti_box{
    border-radius:  var(--booki_radius);
    box-shadow: 5px 5px 15px grey;
    margin:0px 5px;
    height: 500px;
    width: 22%;
}

.acti_text{
    height: 100%;
    width: 100%;
}
.acti_text h3{
    margin-left: 20px;
    padding-right: 2px;
}

.acti_photo{
    display: flex;
    flex-direction: column;
    height: 87%;
    width: 100%;
    border-radius:  var(--booki_radius)  var(--booki_radius) 0px 0px;
}



 /*__________FOOTER___________*/

footer{
    background-color: var(--box_color);
    width: 100%;
    padding-bottom: 30px;
    margin: 10px 0px;
}

#foot_Cont{
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 18%;
    margin-left: 65px;
    margin-right: 15px;
}

.foot_box{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}
.foot_box h3{
    margin: 14px 0px;
}
.foot_box p{
    margin: 10px 0px;
}


 /*_________MEDIA QUERIES___________*/


@media screen and (max-width: 1252px){          /*LES HÉBERGEMENTS PASSENT DE 3 à 2 PAR LIGNE */
    

    #filtre_box{
        width: 80%;
    }

    #aside_Cont{
        height: 1022px;
        min-width: 395px;
        gap: 20px;
    }

    .heber_box{
        width: 45%;
    }

    #pop_Cont{ 
        width: 430px;
        gap: 40px;
    }

    .acti_box{
        height: 400px;
        width: 22%;
    }
    
    .acti_photo{
        height: 84%;
    }

}

 /*-------*/

    @media screen and (max-width: 992px){          /* MODE TABLETTE */

    .pop_star {
        font-size: 0.9em;
    }
    #filtre_box{   
        width: 100%;
    }

    #heber_Cont{
        margin-right: 0px;
        width: 100%;        
    }

    .heber_box{
        width: 29%;
    }

    #section1_Cont{
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    #aside_Cont{
        height: 100%;
        width: 100%;
       
    }

    #pop_Cont{ 
        flex-direction: row;
        width: 100%;
        gap: 0px;    
        padding-bottom: 55px;
        justify-content: space-evenly; 
        border-radius: var(--booki_radius);
    }  

    .pop_logo{
        flex-direction: row;
        justify-content: space-between; 
        width: 94%;
    }

    .pop_box{
        width: 30%;
        height: 150px;
    }

    .pop_photo{
        height: 150px;
        width: 110px;
        border-radius: var(--booki_radius) 0px 0px var(--booki_radius);
        padding: 7px;
        margin-right: 5px;
    }

    .pop_text{
        padding: 20px 4px;
    }
    .pop_photo:hover{
        padding: 0;
        height: 150px;
        margin-right: 10px;
        margin-top: 4px;
    }

    .pop_text h3{
        font-size: 14px;
    }

    .pop_text p{
        font-size: 13px;
    }

    .acti_box{
        height: 300px;
    }
    
    .acti_text h3{
        font-size: 16px;
        margin-left: 15px;
    } 

    .acti_photo{
        height: 80%;
        width: 100%;
        border-radius:  var(--booki_radius)  var(--booki_radius) 0px 0px;
    }

    #foot_Cont{
        margin-left: 45px;
    }

}

@media screen and (max-width: 805px){       /* rétrécissement étoiles et H3 dans Popularité */

    .pop_star {
        font-size: 0.8em;
    }

    .pop_text h3{
        font-size: 13px;
    }
}

 /*-------*/                /* MODE MOBILE */


    @media screen and (max-width: 768px){


    #booki_Cont{
        flex-direction: column;
        height: 100px;  
        margin-bottom: 80px;
    }

    nav{
        width: 100%;
        margin-top: 20px;
    }

    nav ul{
        padding: 0;
        }

    #booki_Cont li{
        width: 50%;
        text-align: center;
        padding-bottom: 36px;   
        border-bottom: 3px solid var(--box_color);
        margin: 0px;
    }
    #booki_Cont li:hover{
        border-color: var(--booki_blue);
    }

    #booki_Cont a:hover{
        padding-top: 0px;
        border-top :none;
    }

    #search_input{  
        width: 300px;
    }

    #search_Cont{
        justify-content: center;
        margin: 45px 0px 25px 0px;
    }

    #search_button{
        min-width: 70px;
    }
    
    #bouton_rechercher{
        display: none;
    }

    #loupe{
        display: inline; 
    }
    
    #filtre_Cont{
        flex-direction: column;
        align-items: flex-start;    
    }

    #filtre_box{
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 0px;
        height: 100%;
    }

    .button_filtre{
        height: 60px;
        width: 250px;
        margin: 15px 0px;
    }

    #info_box{
        margin: 20px 0px 40px 0px;
    }

    #section1_Cont{
        flex-direction: column-reverse;
        gap: 40px;
        height: 100%;
        margin-top: -70px;
    }

    #heber_Cont{
        border-radius: 0px;
        background-color: var(--bg_color);
        margin-top: -30px;
    }

    .heber_total_box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .heber_box{
        display: flex;
        flex-direction: column;
        background-color: var(--bg_color);
        width: 85%;
        height: 240px;
        box-shadow: 4px 4px 10px var(--box_color);
    }
     
    .heber_photo{
        height: 145px;
       
    }
    .heber_text p{
        font-size: 16px;
    }
    .heber_text h3{
        font-size: 18px;
        margin-top: 2px;
    }

    #aside_Cont{
        border-radius: 0px;
        gap: 20px;
        margin-top: 60px;
        min-width: 240px;
    }

    #pop_Cont{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
    }
     
    .pop_box{
        width: 85%;
        height: 170px;
        border-radius: var(--booki_radius);
        margin: 0px 5px;
    }

    .pop_logo{
        flex-direction: row;
        justify-content: space-between; 
        width: 85%;
    }

    .pop_text{
        flex-direction: column;
        height: 100%;
        width: 190px;
        padding: 15px 0px;
    }

    .pop_star{
        margin-top: auto;
        font-size: 1.1em;
    }
    
    .pop_photo{
        height: 170px;
        width: 190px;
        border-radius: var(--booki_radius) 0px 0px var(--booki_radius);
        padding: 8px;
        margin-right: 10px;
        margin-top: 2px;
    }
    
    .pop_photo:hover{
        height: 170px;
        margin-right: 15px;
        margin-top: 4px;
    }

    .pop_text h3{
        font-size: 18px;
    }
    .pop_text p{
        font-size: 16px;
    }

    #section2_Cont h2{
        margin-left: 15px;
    }

    #acti_Cont{
        flex-direction: column; 
        gap: 50px;  
        align-items: center;
    }

    .acti_box{
        width: 85%; 
        height: 235px;
    }

    .acti_photo{
        height: 78%;
        width: 100%;
        border-radius:  var(--booki_radius)  var(--booki_radius) 0px 0px;
    }

    #foot_Cont{
        flex-direction: column;
        margin-left: 45px;
    }

    .foot_box{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 25px;
    }
    .foot_box h3{
        margin: 15px 0px;
    }
    .foot_box p{
        margin: 8px 0px;
    }
}


 /*-------*/                /* MINIMUM */


@media screen and (max-width: 592px){     /*réajustement des boutons filtre
                                             taille polices dans POP
                                             taille des étoiles dans POP*/
    .button_filtre{
        width: 220px;
        padding: 0px 0px 0px 15px;
        margin-left: 0px;
        font-weight: bold;
        font-size: 14px;
    }

    #filtre_box{
        justify-content: space-between;
    }

    .pop_text h3{
        font-size: 16px;
    }
    .pop_text p{
        font-size: 14px;
    }

    .pop_star{
        margin-top: auto;
        font-size: 1em;
    }

}


@media screen and (max-width: 532px){      /*réajustement des boutons filtre
                                            + photos pop*/

    .button_filtre{
        width: 200px;
    }

    .icon_filtre{
        margin-right: 15px;
    }

    .pop_photo{
        width: 160px;
    }

}

@media screen and (max-width: 495px){   /*réajustement des boutons filtre
                                         + photos pop*/

    .button_filtre{

        width: 180px;
        font-size: 13px;
    }

    #search_input{  
        width: 250px;
    }

    .pop_photo{
        width:150px;             
    }
    
}

@media screen and (max-width: 440px){   /*réajustement des boutons filtre
    + photos pop*/

.button_filtre{

width: 165px;
}

#search_input{  
width: 200px;
}

.pop_text{
    padding-right: 4px;
}

.pop_photo{
width:150px;             
}

}

@media screen and (max-width: 405px){   /*réajustement des boutons filtre
                                        + photos pop*/

.button_filtre{

width: 140px;
}

#search_input{  
width: 170px;
}

.pop_photo{
width:130px;             
}

.pop_star{
    margin-top: auto;
    font-size: 0.8em;
}

}

@media screen and (max-width: 360px){   /*TAILLE MINIMUM */

#filtre_box{
justify-content: center;
}
.button_filtre{
width: 250px;
font-size: 14px;
}

.heber_text p{
font-size: 15px;
}
.heber_text h3{
font-size: 16px;
margin-top: 2px;
}

.heber_star{
font-size: 0.9em;
}

.pop_photo{
width:120px;             
}
.pop_text{
padding-right: 4px;
}
.pop_text h3{
font-size: 14px;
}
.pop_text p{
font-size: 12px;
}
.pop_star{
margin-top: auto;
font-size: 0.8em;
}

.acti_text h3{
font-size: 15px;
margin-left: 15px;
} 
}
