@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
 
:root{
    --primary_color: #FFFFFF;  /* couleur de fond */
    --secondary_color: #D9D9D9;  /* couleur des des boîtes */
    --booki_blue: #0065FC;  /* bleu principal */
    --booki_hover: #DEEBFF;  /* bleu HOVER */
    --booki_radius : 20px;    /* Angle des boîtes */
    --shadow_hover : 5px 5px 30px rgb(88, 83, 83);  /* Ombre des boîtes */
}


            /*      ÉLÉMENTS COMMUNS
                                */


*{
     box-sizing: border-box;    
     
}
                          
.site_entier{
    max-width: 1440px;
    height: 100%;
    margin: 0;
    padding: 30px;
    background-color: var(--primary_color);
    font-family: 'Raleway', sans-serif; 
    margin-left: auto;
    margin-right: auto;
}
    .site_entier a{ 
        text-decoration: none;
        color: black;
    }
    .site_entier li{
        list-style-type: none;
    }
    .site_entier h1, h2{ 
        font-size: 22px;
    }
    .site_entier h3{ 
        font-size: 16px;
    }
    .site_entier p{
        font-size: 14px;
    }

.container{
    display: flex;
    flex-direction: row;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.photo{
    object-fit: cover;
    object-position: center;
}

.blue_star{
    color:var(--booki_blue);
    font-size: 0.9em;
}
.grey_star{
    color:var(--secondary_color);
    font-size: 0.9em;
}

.euro{
    font-weight: bold;
}

.heber_box:hover, .pop_box:hover, .acti_box:hover{
    box-shadow: var(--shadow_hover)
}

            /*      HEADER
                                */

.header_cont{
    align-items: center;
    margin-bottom: 50px;
}
    .header_cont li{
        margin-left: 30px;
    }
    .header_cont a{
        padding: 52px 25px 0px 25px;
    }
    .header_cont a:hover{
        border-top: 3px solid var(--booki_blue);
        color: var(--booki_blue)
    }

nav{
    margin-left: auto;
}

#i_booki{
    position: relative;
    top: -4px;
    left: 43px;
}

        /* FORM / RECHERCHE
                                */ 

 
.form_cont{
    height: 60px;
    margin: 40px 0px 50px 0px;
}

.cursor_box{
    min-width: 60px;
    height: 100%    ;
    justify-content: center;
    background-color: var(--secondary_color);
    border-radius: 15px 0px 0px 15px;
}

.cursor{
    font-size: 1.5em;
}

.form_input{
    height: 100%;
    width: 250px;
    border: 1px solid var(--secondary_color);
    font-size: 18px;
    padding-left: 15px;
}

.search_button{
    height: 100%;
    min-width: 155px;
    background-color: var(--booki_blue);
    border-radius: 0px 15px 15px 0px;
    color: var(--primary_color);
    font-size: 1.1em;
    font-weight: bold;
    border: none;
}

#loupe{
    color: var(--primary_color);
    font-size: 1.3em;
    display: none;
}


  /*_________FITLRES__________*/


.filtre_cont{
    align-items: center;
}

.filtre_box{
    justify-content: space-around;
    width: 70%;
}
 
.filtre_button{
    height: 55px; 
    padding: 0px 20px;
    border-radius: 25px;
    background-color: var(--primary_color);
    border: 2px solid var(--secondary_color);
    margin-left: 2px;
    font-weight: bold;
    font-size: 16px;
}
    .filtre_button:hover{
        background-color: var(--booki_hover);
        cursor: pointer;
    }

.icon_button{
    color: var(--booki_blue);
    font-size: 1.4em;
    margin-right: 20px;
}

.info_box{
    margin: 30px 0px 20px 0px;
}

.icon_info{
    color: var(--booki_blue);
    border: 1px solid grey;
    padding: 6px 11px 8px 11px;
    margin-right: 15px;
    border-radius: 50%;
    font-size: 0.9em;
}
 
        /*      SECTION HÉBERGEMENT / POPULARITÉ
                            */


.heber_pop{
    justify-content: space-between;
}

  /*_________HÉBERGEMENT__________*/


.section_hebergement{
    flex-direction: column;
    background-color:var(--secondary_color);
    border-radius: var(--booki_radius);
    width: 67%;
    margin-right: 7px;
    padding-bottom: 20px;    
}
    .section_hebergement h2{
        margin-left: 40px;  
        padding-top: 22px;
        margin-bottom: 15px;
    }
    .section_hebergement > h3{
        margin-left: 40px;  
    }

.heber_cont{
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
 
.heber_box{
    display: block;
    background-color: var(--primary_color);
    width: 255px;
    height: 240px;
    border-radius:  var(--booki_radius);
    margin: 25px 2px;
    line-height: 15px;
}

.heber_photo{
    height: 52%;
    width: 100%;
    border-radius:  var(--booki_radius)  var(--booki_radius) 0px 0px;
    padding: 7px;
}
.heber_photo:hover{
    padding: 0;
    margin-bottom: 5px;
}

.heber_text{
    margin-left: 15px;
}

  /*_________POPULARITÉ__________*/

 
.aside_popularite{
    flex-direction: column;
    align-items: center;
    min-width: 30%;
    gap: 21px;
    background-color: var(--secondary_color);
    border-radius: var(--booki_radius);
}

.pop_logo{
    justify-content: space-around;
    padding-top: 25px;
    width: 100%;
}

.pop_icon{
    color: var(--booki_blue);
    font-size: 1.4em;
}

.pop_cont{
    flex-direction: column;
    align-items: center;
    gap : 40px;
    width: 100%;
}
 
.pop_box{
    background-color: var(--primary_color);
    height: 170px;
    width: 350px;
    border-radius: var(--booki_radius);
    margin: 0px 5px;
}

.pop_photo{
    height: 170px;
    width: 150px;
    border-radius: var(--booki_radius) 0px 0px var(--booki_radius);
    padding: 7px;
    margin-right: 10px;
    margin-top: 2px;
}
    .pop_photo:hover{
        padding: 0;
        margin-right: 15px;
        margin-top: 4px;
    }

.pop_text{
    flex-direction: column;
    align-items: flex-start;
    height: 170px;
    width: 190px;
    padding: 15px 0px;
}
    .pop_text h3{
        margin:0;
    }

.pop_star{
    margin-top: auto;
}

 /*_________ACTIVITÉS__________*/

.section_activite{    
    flex-direction: column;
    padding-bottom: 45px;
}
    .section_activite h2{
        padding: 30px 0px;
    }

.acti_cont{
    justify-content: space-between; 
}

.acti_box{
    border-radius:  var(--booki_radius);
    box-shadow: 5px 5px 15px grey;
    margin:0px 5px;
    height: 500px;
    width: 22%;
}

.acti_photo{
    height: 87%;
    width: 100%;
    border-radius:  var(--booki_radius)  var(--booki_radius) 0px 0px;
}

.acti_text{
    height: 100%;
    width: 100%;
}
    .acti_text h3{
        margin-left: 20px;
        margin-right: 4px;
    }


 /*__________FOOTER___________*/

footer{
    background-color: var(--secondary_color);
    width: 100%;
    padding-bottom: 30px;
    margin: 10px 0px;
}

.foot_cont{
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 18%;
    margin-left: 65px;
    margin-right: 10px;
}

.foot_box{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
}
    .foot_box h3{
        margin: 14px 0px;
    }
    .foot_box p{
        margin: 10px 0px;
    }


 /*_________MEDIA QUERIES___________*/


@media screen and (max-width: 1252px){          /*LES HÉBERGEMENTS PASSENT DE 3 à 2 PAR LIGNE */
    

    .filtre_box{
        width: 80%;
    }

    .heber_box{
        width: 45%;
    }

    .pop_cont{ 
        width: 430px;
    }

    .acti_box{
        height: 400px;
    }
    .acti_photo{
        height: 84%;
    }
    .acti_text h3{
        margin: 14px 4px 0px 20px
    }
}

 /*-------*/

    @media screen and (max-width: 992px){          /* MODE TABLETTE */

    .pop_star {
        font-size: 0.8em;
    }
    .filtre_box{   
        width: 100%;
    }
    .filtre_button{
        font-size: 15px;
    }

    .section_hebergement{
        margin-right: 0px;
        width: 100%;        
    }
    .heber_box{
        width: 29%;
    }
    .heber_pop{
        flex-direction: column;
        gap: 60px;
        width: 100%;
    }

    .aside_popularite{
        height: 100%;
        width: 100%;
    }
    .pop_cont{ 
        flex-direction: row;
        width: 100%;
        gap: 0px;    
        padding-bottom: 55px;
        justify-content: space-evenly; 
        border-radius: var(--booki_radius);
    }  
    .pop_logo{
        justify-content: space-between; 
        width: 93%;
    }
    .pop_box{
        width: 30%;
        height: 150px;
    }
    .pop_photo{
        height: 150px;
        width: 110px;
        border-radius: var(--booki_radius) 0px 0px var(--booki_radius);
        padding: 7px;
        margin-right: 5px;
    }
        .pop_photo:hover{
            padding: 0;
            height: 150px;
            margin-right: 10px;
            margin-top: 4px;
        }

    .pop_text{
        padding: 20px 4px;
    }
        .pop_text h3{
            font-size: 14px;
        }
        .pop_text p{
            font-size: 13px;
        }

    .acti_box{
        height: 300px;
    }
    .acti_text h3{
        font-size: 16px;
        margin: 14px 4px 0px 15px

    } 
    .acti_photo{
        height: 80%;
        width: 100%;
        border-radius:  var(--booki_radius)  var(--booki_radius) 0px 0px;
    }

    .foot_cont{
        margin-left: 45px;
    }

}

 /*-------*/               

    @media screen and (max-width: 768px){       /* MODE MOBILE */

    body{
        padding: 0;
        margin: 0;
    }
    .site_entier{
        padding: 0px;
        margin:  0px;
        background-color: var(--secondary_color);
    }

    .header_cont{
        flex-direction: column;
        margin: 25px 0px 0px 0px;
    }

    nav{
        width: 100%;
        margin-top: 20px;
    }
        nav ul{
            padding: 0;
            }

    header{
        background-color: var(--primary_color);
    }
    .header_cont li{
        width: 50%;
        text-align: center;
        padding-bottom: 36px;   
        border-bottom: 3px solid var(--secondary_color);
        margin: 0px;
    }
        .header_cont li:hover{
            border-color: var(--booki_blue);
        }
        .header_cont a:hover{
            padding-top: 0px;
            border-top :none;
        }

    .section_recherche{
        background-color: var(--primary_color);
        padding: 0px 20px 60px 20px;
    }
        .section_recherche h1{
            padding-top: 20px;
            margin: 0;
        }

    .form_cont{
        justify-content: center;
        margin: 45px 0px 25px 0px;
    }
    .form_input{  
        width: 300px;
    }

    .search_button{
        min-width: 70px;
    }
    
    #rechercher{
        display: none;
    }

    #loupe{
        display: inline; 
    }
    
    .filtre_cont{
        flex-direction: column;
        align-items: flex-start;    
    }
    .filtre_box{
        justify-content: space-around;
        flex-wrap: wrap;
        margin-left: 0px;
        height: 100%;
    }
    .filtre_button{
        height: 60px;
        width: 250px;
        margin: 15px 0px;
    }

    .info_box{
        margin: 20px 0px 0px 0px;
    }

    .aside_popularite{
        border-radius: 0px;
        min-width: 240px;
    }
    .pop_cont{
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
    }
    .pop_box{
        width: 85%;
        height: 170px;
    }
    .pop_logo{
        width: 85%;
    }

    .pop_text{
        flex-direction: column;
        width: 100%;
        padding: 15px 10px 15px 0px;
    }
        .pop_text h3{
            font-size: 18px;
        }
        .pop_text p{
            font-size: 16px;
        }

    .pop_star{
        margin-top: auto;
        font-size: 1.1em;
    }
    .pop_photo{
        height: 170px;
        width: 190px;
        border-radius: var(--booki_radius) 0px 0px var(--booki_radius);
        padding: 8px;
        margin-right: 10px;
        margin-top: 2px;
    }
        .pop_photo:hover{
            height: 170px;
            margin-right: 15px;
            margin-top: 4px;
        }

    .heber_pop{
        flex-direction: column-reverse;
        gap: 10px;
        height: 100%;
        margin-top: -20px;
    }

    .section_hebergement {
        border-radius: 0px;
        background-color: var(--primary_color);
    }
    .heber_cont{
        flex-direction: column;
    }
    .heber_box{
        width: 85%;
        height: 240px;
        box-shadow: 4px 4px 10px var(--secondary_color);
    }
    .heber_photo{
        height: 145px;
    }
    .heber_text p{
        font-size: 16px;
    }
        .heber_text h3{
            font-size: 18px;
            margin-top: 2px;
        }

    .section_activite{
        background-color: var(--primary_color);
    }
        .section_activite h2{
            margin-left: 15px;
        }
    .acti_cont{
        flex-direction: column; 
        gap: 50px;  
        align-items: center;
    }
    .acti_box{
        width: 85%; 
        height: 235px;
    }
    .acti_photo{
        height: 78%;
        width: 100%;
        border-radius:  var(--booki_radius)  var(--booki_radius) 0px 0px;
    }

    footer{
        margin: 0px;
    }
    .foot_cont{
        flex-direction: column;
        margin-left: 45px;
    }
    .foot_box h3{
        margin: 15px 0px;
    }
    .foot_box p{
        margin: 8px 0px;
    }
}


@media screen and (max-width: 592px){     /*réajustement des boutons filtre
                                             taille polices dans POP
                                             taille des étoiles dans POP*/
    .filtre_button{
        width: 220px;
        padding: 0px 0px 0px 15px;
        margin-left: 0px;
        font-weight: bold;
        font-size: 14px;
    }

    .pop_text h3{
        font-size: 16px;
    }
    .pop_text p{
        font-size: 14px;
    }
    .pop_star{
        font-size: 1em;
    }

}

@media screen and (max-width: 520px){   /*réajustement des boutons filtre
                                         + photos pop*/

    .filtre_button{
        width: 175px;
        font-size: 13px;
    }
    .filtre_icon{
        margin-right: 10px;
    }

    .form_input{  
        width: 250px;
    }

    .pop_photo{
        width:150px;             
    }
    
}


@media screen and (max-width: 400px){   /*TAILLE MINIMUM */

    .filtre_box{
    justify-content: center;
    }
    .filtre_button{
    width: 250px;
    font-size: 14px;
    }

    .form_input{
        width: 170px;
    }

    .section_hebergement h2 {
        margin-left: 20px;
        padding-right: 5px;
    }
    .heber_text p{
    font-size: 15px;
    }
    .heber_text h3{
    font-size: 16px;
    margin-top: 2px;
    }
    .heber_star{
    font-size: 0.9em;
    }

    .pop_photo{
    width:120px;             
    }
    .pop_text h3{
    font-size: 14px;
    }
    .pop_text p{
    font-size: 13px;
    }
    .pop_star{
    margin-top: auto;
    font-size: 0.8em;
    }

    .acti_text h3{
    font-size: 15px;
    } 

}
